@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Playfair+Display:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --headerFont: 'ADLaM Display', cursive;
    --mainFont: 'Playfair Display', serif;
    --red: #990000;
    --black: #171412;
    --white: #FFF5EE;
    --blue: #003a6c;
    --lightBlue: #68a0b0;
    --headerSize: 2.5em;
    --mainSize: 1.2em;
    --miniSize: 1em;
}
body{
    background-color: var(--white);
    text-align: center;
    font-family: var(--mainFont);
    font-size: var(--mainSize);
    color: var(--white);
}
header{
    background-color: #171412;
    padding: 1em;
}
main{
    margin: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: var(--headerSize);
    font-family: var(--headerFont);
    padding-bottom: 0.3em;
}
h3{
    font-size: var(--miniSize);
}
span{
    font-style: italic;
}
button{
    border-radius: 25px;
    background-color: var(--red);
    color: var(--white);
    padding:1em 4em;
    margin-top: 3em;
    border: none;
}
#ballContainer{
    display: flex;
    border-radius: 300px;
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 6px 4px 9px 5px #363635;
}
